<div class="hidden">{{ page.theme = 'darker'; page.title = 'MY DELIVERY INFORMATION'; }}</div>
<div ng-controller="DeliveryCtrl as demo">
	<div ng-controller="RequestDeliveryController as delivery">
		<form name="form">
			<div class="short"></div>
			PACKAGE SIZE
			<br />
			<button class="medium skinnier dark" ng-click="demo.setSize('small');" ng-class="demo.data.size==='small' ? 'selected' : 'x'">Small</button>
			<span class="skinniest"></span>
			<button class="medium skinnier dark" ng-click="demo.setSize('medium');" ng-class="demo.data.size==='medium' ? 'selected' : 'x'">Medium</button>
			<span class="skinniest"></span>
			<button class="medium skinnier dark" ng-click="demo.setSize('large');" ng-class="demo.data.size==='large' ? 'selected' : 'x'">Large</button>
			<div class="short"></div>
			<div class="window">
				<table style="width: 99%;">
				    <tr>
				        <td>Pickup</td>
                        <td width="19%"><input type="text" placeholder="Number" style="width: 100%;" ng-model="demo.pnumber" ng-class="demo.pnumber === undefined || demo.pnumber === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)" /></td>
				        <td width="59%"><input type="text" placeholder="Street" style="width: 100%;" ng-model="demo.pstreet" ng-class="demo.pstreet === undefined || demo.pstreet === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)" /></td>
                        <td width="19%"><input type="text" placeholder="Zip" style="width: 100%;" ng-model="demo.pzip" ng-class="demo.pzip === undefined || demo.pzip === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)" /></td>
				    </tr>
				    <tr>
				        <td>Address</td>
				        <td><input type="text" placeholder="City" style="width: 100%;" ng-model="demo.pcity" ng-class="demo.pcity === undefined || demo.pcity === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)"/></td>
				        <td><input type="text" placeholder="State" style="width: 100%;" ng-model="demo.pstate" ng-class="demo.pstate === undefined || demo.pstate === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)"/></td>
				        <td><input type="text" placeholder="Country" style="width: 100%;" ng-model="demo.pcountry" ng-class="demo.pcountry === undefined || demo.pcountry === '' ? 'error' : 'x'" ng-change="delivery.cleanPickupAddress(demo)"/></td>
				    </tr>
                    <tr><td colspan="4">&nbsp;</td></tr>
                    <tr>
                        <td>Drop off</td>
                        <td><input type="text" placeholder="Number" style="width: 100%;" ng-model="demo.dnumber" ng-class="demo.dnumber === undefined || demo.dnumber === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                        <td><input type="text" placeholder="Street" style="width: 100%;" ng-model="demo.dstreet" ng-class="demo.dstreet === undefined || demo.dstreet === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                        <td><input type="text" placeholder="Zip" style="width: 100%;" ng-model="demo.dzip" ng-class="demo.dzip === undefined || demo.dzip === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" placeholder="City" style="width: 100%;" ng-model="demo.dcity" ng-class="demo.dcity === undefined || demo.dcity === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                        <td><input type="text" placeholder="State" style="width: 100%;" ng-model="demo.dstate" ng-class="demo.dstate === undefined || demo.dstate === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                        <td><input type="text" placeholder="Country" style="width: 100%;" ng-model="demo.dcountry" ng-class="demo.dcountry === undefined || demo.dcountry === '' ? 'error' : 'x'" ng-change="delivery.cleanDeliveryAddress(demo)" /></td>
                    </tr>
				</table>
			</div>
			<div class="short">
				<input readonly="readonly" type="text" ng-model="demo.data.distance" name="distance" placeholder="distance" ng-class="demo.data.distance==='' ? 'error' : 'x'" required />
			</div>
			<div class="window">
				<table style="width: 99%;">
					<tr><td>CONTENTS			</td><td><input type="text" style="width: 100%;" name="content" ng-model="demo.data.content" ng-change="demo.setContent()" placeholder="Content description" ng-class="demo.data.content==='' ? 'error' : 'x'" required /></td></tr>
					<tr><td>WEIGHT				</td><td><input type="text" style="width: 100%;" name="weight" ng-model="demo.data.weight" ng-change="delivery.validateWeight(demo); demo.setWeight()" placeholder="Weight in pounds" ng-class="demo.data.weight==='' ? 'error' : 'x'" required /></td></tr>
				</table>
			</div>
			<div class="short"></div>
			<div ng-show="special">
				<div class="window">
					<table style="width: 99%;">
						<tr>
							<td>INSTRUCTIONS	</td>
							<td><textarea style="width: 100%;" ng-model="demo.data.instructions" ng-change="demo.setInstructions()"></textarea></td>
						</tr>
					</table>
				</div>
				<div class="short"></div>
			</div>
		    <button ng-disabled="(form.distance.$invalid)
                    || (form.content.$dirty && form.content.$invalid || form.content.$pristine)
                    || (form.weight.$dirty && form.weight.$invalid || form.weight.$pristine)" ng-click="page.load('customer/2_1_deliveryVerification/deliveryVerification.html');" class="wide light">
				SET
				<br />
				DELIVERY
			</button>
			<span class="skinnier"></span>
			<button class="wide dark" ng-click="special=true;" ng-hide="special">
				SPECIAL
				<br />
				INS.
			</button>
		</form>
	</div>
</div>