* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	height: 22px;
	background-color: #FFFFFF;
	color: #000000;
}
nav{
	position: fixed;
	top: 22px;
	padding: 0 22px 0 22px;
	height: 43px;
	width: 100%;
	border-bottom: 1px solid gray;
	background-color: #C0C0C0;
	color: #000000;
	z-index: 1;
}
.slide-animate{
	height: 100%;
	margin-top: 66px;			/* head height */
	margin-bottom: 0;			/* foot height */
	padding: 0 44px 0 44px;
	overflow: auto;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 0;
	overflow: auto;
}

h1{
	font-size: 20px;
}

button{
	border-radius: 4px;
}

.selected{
	/*opacity: .5;*/
	border-color: lime!important;
	color: lime!important;
}

button:disabled {
	color: gray;
	background-color: silver;
	border: 1px solid gray;
}

.center-v-wrapper { display: table; width: 100%; height: 100%; }
.center-v-cell { display: table-cell; vertical-align: middle; }
.center-h { display: block; width: 100%; margin: auto; }
.center-t { text-align: center; }
.right-h { display: block; float: right; }
.right-t { text-align: right; }
.left-h { display: block; float: left; }
.left-t { text-align: left; }
.inline { display: inline-block; vertical-align: top; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.hidden { display: none; }

.tall{
	min-height: 88px;
}

.medium{
	min-height: 44px;
}

.short{
	min-height: 22px;
}

.skinniest{
	display: inline-block;
	width: 5%;
}

.skinnier{
	display: inline-block;
	width: 20%;
}

.skinny{ /**/
	display: block;
	width: 30%;
}

.wide{
	display: inline-block;
	width: 35%;
}

.wider{
	display: inline-block;
	width: 70%;
}

.widest{
	display: inline-block;
	width: 100%;
}

.dark{
	background-color: #051B57;
	color: #FFFFFF;
	border-color: navy;
}

.darker{
	background-color: #000000;
	color: #FFFFFF;
	border-color: black;
}

.darker input {
    color: black;
}

.darker td {
    color: black;
}

.light{
	background-color: #51B009;
	color: #FFFFFF;
	border-color: limegreen;
}

.lighter{
	background-color: #A7ADAD;
	color: #000000;
	border-color: silver;
}

.stop{
	background-color: #D90307;
	color: #FFFFFF;
	border-color: red;
}

.city {
	height: 100%;
	background-image: url(../../resources/screen/startscreen.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 66px;
	margin-bottom: 0;
}

.window {
	vertical-align: top;
	background: #FFFFFF;
    color: black;
	border: 1px solid gray;
	border-radius: 4px;
	overflow: auto;
}

.error{
	background-color: pink;
}

td{
	font-size: 10px;
	text-align: left;
	min-width: 60px;
}

.paymentPosition{

	width: 120px;
	float: right;

}

#map-canvas { 
	width  : 100%;
    height : 300px;
}