* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	border: 1px solid red;
	height: 20px;
	background-color: #FFFFFF;
	color: #000000;
}
nav{
	position: fixed;
	top: 22px;
	padding: 0 22px 0 22px;
	height: 43px;
	width: 100%;
	border-bottom: 1px solid silver;
	background-color: #FFFFFF;
	color: #000000;
}
.slide-animate{
	height: 100%;
	margin-top: 66px;			/* head height */
	margin-bottom: 22px;		/* foot height */
	padding: 0 44px 0 44px;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 22px;
}

h1{
	font-size: 20px;
}

.center-v-wrapper { display: table; width: 100%; height: 100%; }
.center-v-cell { display: table-cell; vertical-align: middle; }
.center-h { display: block; width: 100%; margin: auto; }
.center-t { text-align: center; }
.right-h { display: block; float: right; }
.right-t { text-align: right; }
.left-h { display: block; float: left; }
.left-t { text-align: left; }
.inline { display: inline-block; vertical-align: top; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.hidden { display: none; }

.pad-tall{
	height: 44px;
}

.pad-short{
	height: 22px;
}

.space-small{
	display: inline-block;
	width: 5%;
}

.button-base{
	width: 100%;
	height: 44px;
	border-radius: 4px;
}
.button-tall{
	height: 88px;
}
.button-half{
	width: 43%;
}
.button-skinny{
	width: 25%;
}
.dark{
	background-color: #051B57;
	color: #FFFFFF;
	border-color: navy;
}
.darker{
	background-color: #000000;
	color: #FFFFFF;
	border-color: black;
}

.light{
	background-color: #51B009;
	color: #FFFFFF;
	border-color: limegreen;
}

.lighter{
	background-color: #A7ADAD;
	color: #000000;
	border-color: silver;
}

.window {
	background: #FFFFFF;
	border: 1px solid gray;
	border-radius: 4px;
	margin: 0 -22px 0 -22px;
}

td{
	font-size: 10px;
	text-align: left;
	min-width: 60px;
}