* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
header{
	border: 1px solid pink;
	height: 20px;
}
nav{
	padding: 0 22px 0 22px;
	height: 43px;
	border-bottom: 1px solid silver;
}
section{
	padding: 0 44px 0 44px;
}
footer{
}

h1{
	font-size: 20px;
}

.page-dark {
	background-color: black;
}

.center-v-wrapper { display: table; width: 100%; height: 100%; }
.center-v-cell { display: table-cell; vertical-align: middle; }
.center-h { display: block; width: 100%; margin: auto; }
.center-t { text-align: center; }
.right-h { display: block; float: right; }
.right-t { text-align: right; }
.left-h { display: block; float: left; }
.left-t { text-align: left; }
.inline { display: inline-block; vertical-align: top; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.hidden { display: none; }

.pad-tall{
	height: 44px;
}

.pad-short{
	height: 22px;
}

.button-base{
	width: 100%;
	height: 44px;
}
.button-tall{
	height: 88px;
}
.button-half{
	width: 43%;
}