<div class="hidden">{{ page.disableBack = true; page.theme = 'darker'; page.title = 'DELIVERY REQUEST SENT'; }}</div>
<div ng-controller="FindDriverCtrl as driver">
    <div ng-controller="DeliveryCtrl as demo" ng-init="driver.init(demo.data, page)">
        <div class="tall"></div>

        {{ driver.message }}

        <div class="tall"></div>

        <button ng-click="driver.submit(('Delivery of '+ demo.data.content), (demo.data.price * 100.00), page);" class="medium wide light" ng-show="driver.ready">
            Pay With Card
        </button>
        <button class="light" ng-click="page.load('app/page/start.html');">
            !RESET!
        </button>
    </div>
</div>
