<div class="hidden">{{ page.theme = 'darker'; page.title = 'DELIVERIES'; }}</div>
<div ng-controller="MapController as map">
	<div ng-controller="DeliveryCtrl as demo" ng-init="map.calculateRoute(demo.data.pickup, demo.data.delivery)">
		<div ng-controller="TrackControler as track" ng-init="track.init(demo, page)">
			{{ track.message }}

			<div class="short"></div>
			<button class="medium widest dark" ng-click="track.AcceptDelivery()" ng-show="track.accept">
				Click to accept delivery
			</button>
			<img ng-src="{{track.pickSrc}}" width="35%" class="wide" /><img ng-src="{{track.dropSrc}}" width="35%" class="wide" ng-show="track.accept" />
		    <div id="map-canvas"></div>
            <button class="light" ng-click="page.load('app/page/start.html');">
                !RESET!
            </button>
		</div>
	</div>
</div>