<div class="hidden">{{ page.disableBack = true; page.theme = 'dark city'; page.title = 'RATE TRANSACTION' }}</div>
<div ng-controller="DrivenControler as del">
    <div ng-controller="DeliveryCtrl as demo" ng-init="start.init(demo)">
        <div class="tall"></div>
        <div class="tall"></div>
        <div class="tall"></div>
        <div class="tall center-h">
            <table class="center-t" style="color: white">
                <tr>
                    <td>F1 App</td>
                    <td>
                        1
                        <input name="app" type="radio" value="1" />
                        <input name="app" type="radio" value="2" />
                        <input name="app" type="radio" value="3" />
                        <input name="app" type="radio" value="4" />
                        <input name="app" type="radio" value="5" />
                        5
                    </td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>
                        1
                        <input name="driver" type="radio" value="1" />
                        <input name="driver" type="radio" value="2" />
                        <input name="driver" type="radio" value="3" />
                        <input name="driver" type="radio" value="4" />
                        <input name="driver" type="radio" value="5" />
                        5
                    </td>
                </tr>
            </table>
            <br />
            <textarea style="width: 100%;" placeholder="Comments"></textarea>
        </div>
        <br />
        <button ng-click="page.tip()" class="tall widest dark">
            KEEP THIS APP FREE WITH A TIP
        </button>
        <br />
        <button ng-click="page.load('app/page/start.html');" class="short wide stop">NO THANKS</button>
        <span class="skinnier"></span>
        <button ng-click="page.load('app/page/start.html');" class="short wide light">RATE</button>
    </div>
</div>