<div class="hidden">{{ page.disableBack = true; page.theme = 'dark city'; page.title = 'RATE TRANSACTION' }}</div>
<div ng-controller="DrivenControler as del">
    <div ng-controller="DeliveryCtrl as demo" ng-init="start.init(demo, page)">
        <div class="tall"></div>
        <div class="tall"></div>
        <div class="tall"></div>
        <div class="tall center-h">
            <br />
            <button ng-click="page.tip()" class="tall widest dark">
                KEEP THIS APP FREE WITH A TIP
            </button>
            <br />
            <table class="center-t" style="color: white">
                <tr>
                    <td>F1 App</td>
                    <td>
                        1
                        <input name="app" type="radio" value="1"/>
                        <input name="app" type="radio" value="2"/>
                        <input name="app" type="radio" value="3"/>
                        <input name="app" type="radio" value="4"/>
                        <input name="app" type="radio" value="5"/>
                        5
                    </td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>
                        1
                        <input name="driver" ng-model="driver" type="radio" value="1"/>
                        <input name="driver" ng-model="driver" type="radio" value="2"/>
                        <input name="driver" ng-model="driver" type="radio" value="3"/>
                        <input name="driver" ng-model="driver" type="radio" value="4"/>
                        <input name="driver" ng-model="driver" type="radio" value="5"/>
                        5
                    </td>
                </tr>
            </table>
            <br/>
            <textarea style="width: 100%;" ng-model="notes" placeholder="Comments"></textarea>
        </div>
        <button ng-click="page.load('app/page/start.html');" class="short wide stop">NO THANKS</button>
        <span class="skinnier"></span>
        <button ng-click="del.rate(driver, notes);" class="short wide light">RATE</button>
    </div>
</div>