<div class="hidden">{{ page.theme = 'darker'; }}</div>
<div class="pad-tall"></div>
<h1>
	WELCOME: TODO
	<br />
	CHOOSE BELOW:
</h1>
<div class="pad-tall"></div>
<button ng-click="page.load('customer/requestDelivery/requestDelivery.html');" class="button-base button-tall light">
	I WANT
	<br />
	SOMETHING
	<br />
	DELIVERED
</button>
<div class="pad-tall"></div>
<button ng-click="page.load('app/authentication/authenticateDriver.html');" class="button-base button-tall dark">
	I WANT TO
	<br />
	DELIVER FOR
	<br />
	FETCH 1
</button>