<div class="hidden">{{ page.theme = 'darker'; }}</div>
<div class="medium"></div>
<h1>
	WELCOME: TODO
	<br />
	CHOOSE BELOW:
</h1>
<div class="medium"></div>
<button ng-click="page.load('customer/requestDelivery/requestDelivery.html', 'MY DELIVERY INFORMATION');" class="tall widest light">
	I WANT
	<br />
	SOMETHING
	<br />
	DELIVERED
</button>
<div class="medium"></div>
<button ng-click="page.load('app/authentication/authenticateDriver.html');" class="tall widest dark">
	I WANT TO
	<br />
	DELIVER FOR
	<br />
	FETCH 1
</button>