<div class="hidden">{{ page.disableBack = false; page.theme = 'darker'; page.title = 'DELIVERY INFO' }}</div>
	<div ng-controller="DeliveryCtrl as demo">
		<div ng-controller="ViewDeliveryControler as config" ng-init="config.init(demo, page)">
		    <div class="short"></div>
		    {{ config.message }}
		    <br/>
			DELIVERY {{ MemorySrvc.get("deliveryId") }} INFO
			<div class="short"></div>
			<div class="window medium widest">
				A {{ demo.data.size }} {{ demo.data.weight }} lb package
			</div>
			<div class="short"></div>
		    <div class="window medium widest" style="max-height: 44px">
		        Package to be picked up from {{ demo.data.pickup }}
		    </div>
            <div class="short"></div>
            <div class="short">
                <input readonly="readonly" type="text" ng-model="demo.data.distance" name="distance" placeholder="distance" ng-class="demo.data.distance==='' ? 'error' : 'x'" required />
            </div>
			<div class="short"></div>
			<div class="window medium widest" style="max-height: 44px">
				Package will be delivered to {{ demo.data.delivery }}
			</div>
		    <div class="short"></div>
			<div class="window medium widest">
				Instructions {{ demo.data.instructions }}
			</div>
			<div class="short"></div>
		    <div class="window medium widest">
                <!--one cent is added here incase of rounding loss-->
		        Payment ${{ (demo.data.price - (demo.data.price * 0.029) - 0.31).toFixed(2); }}
		    </div>
			<button ng-click="page.load('driver/1_pickupMap/pickupMap.html');" class="medium wide stop">
				REJECT
			</button>
			<span class="skinniest"></span>
			<button ng-click="config.accept();" class="medium wide light">
				ACCEPT
			</button>
		</div>
</div>
