<div class="hidden">{{ page.theme = 'lighter'; page.title = 'DELIVERY' }}</div>
	<div ng-controller="DeliveryCtrl as demo">
		<div ng-controller="ViewDeliveryControler as config">
			<div class="short"></div>
			DELIVERY {{ demo.data.deliveryId }} INFO
			<div class="short"></div>
			<button class="skinnier medium dark fa fa-archive"></button>
			<span class="skinniest"></span>
			<div class="window medium wider">
				A {{ demo.data.size }} {{ demo.data.weight }} lb package
			</div>
			<div class="short"></div>
			<button class="skinnier medium dark fa fa-arrow-down"></button>
			<span class="skinniest"></span>
			<div class="window medium wider">
				Package to be picked up from {{ demo.data.pickup }}
			</div>
			<div class="short"></div>
			<button class="skinnier medium dark fa fa-arrow-right"></button>
			<span class="skinniest"></span>
			<div class="window medium wider">
				Package will be delivered to {{ demo.data.delivery }}
			</div>
			<div class="short"></div>
			<div class="window medium widest">
				Instructions {{ demo.data.instructions }}
			</div>
			<div class="short"></div>
			<button class="skinnier medium dark fa fa-usd"></button>
			<span class="skinniest"></span>
			<div class="window medium wider">
				Payment ${{ (demo.data.price * config.driverCut).toFixed(2); }}
			</div>
			<button ng-click="page.back();" class="medium wide stop">
				REJECT
			</button>
			<span class="skinniest"></span>
			<button ng-click="page.load('driver/3_startDelivery/startDelivery.html');" class="medium wide light">
				ACCEPT
			</button>
		</div>
</div>
