<div class="hidden">{{ page.disableBack = true; page.theme = 'darker'; page.title = 'DELIVERY'; }}</div>
<div ng-controller="DeliveryCtrl as demo">
    <div ng-controller="startControler as start" ng-init="start.init(demo, page)">
        <div class="short"></div>
        {{ start.message }}

        <div class="short"></div>
        <a ng-href="{{ start.latLngUrl }}" target="_system" class="medium widest light" ng-show="start.latLngUrl">
            {{ start.addressMessage }}
        </a>

        <div class="short"></div>
        <button class="medium widest dark" ng-click="start.pickPhoto()" ng-show="start.pickup">
            Take photo: proof of pick up
        </button>
        <button class="medium widest dark" ng-click="start.dropPhoto()" ng-show="start.drop">
            Take photo: proof of drop off
        </button>

        <div class="short"></div>
        <img id="pickImg" ng-src="{{ start.pickSrc }}" imageonload imageonloadfunction="start.onPickLoad()" class="wide"/>
        <img id="dropImg" ng-src="{{ start.dropSrc }}" imageonload imageonloadfunction="start.onDropLoad()" class="wide"/>

        <button class="light" ng-click="page.load('app/page/start.html');">
            !RESET!
        </button>
    </div>
</div>