<div ng-controller="DemoCtrl as demo">
	SET DELIVERY
	<br />
	<br />
	Pickup address:
	<br />
	<input type="text" ng-model="demo.pickup" ng-change="demo.setPickup()" />
	<br />
	Delivery method:
	<br />
	<input type="radio" name="size" ng-model="demo.price" ng-change="demo.setPrice()" value="7.50">  small
	<input type="radio" name="size" ng-model="demo.price" ng-change="demo.setPrice()" ng-value="10.00"> medium
	<input type="radio" name="size" ng-model="demo.price" ng-change="demo.setPrice()" value="21.51"> large
	<br />
	Description of package:
	<br />
	<input type="text" />
	<br />
	Estimated weight:
	<br />
	<input type="text" />
	<br />
	special instructions:
	<br />
	<input type="text" />
	<br />
	<textarea rows="5" cols="25"></textarea>
	<br />
	Delivery address:
	<br />
	<input type="text" ng-model="demo.delivery" ng-change="demo.setDelivery()" />
	<br />
	<button ng-click="page.load('customer/deliveryVerification/deliveryVerification.html');">Set Pickup Now</button>
</div>
