<div class="hidden">{{ page.theme = 'lighter'; }}</div>
<div ng-controller="DemoCtrl as demo">
	<div class="pad-short"></div>
	PACKAGE SIZE
	<br />
	<button ng-click="page.load('app/authentication/authenticateDriver.html');" class="button-base button-skinny dark">
		S
	</button>
	<div class="space-small"></div>
	<button ng-click="page.load('app/authentication/authenticateDriver.html');" class="button-base button-skinny dark">
		M
	</button>
	<div class="space-small"></div>
	<button ng-click="page.load('app/authentication/authenticateDriver.html');" class="button-base button-skinny dark">
		L
	</button>
	<div class="pad-short"></div>
	<div class="window">
		<table style="width: 99%;">
			<tr><td>PICKUP<br />ADDRESS	</td><td><input type="text" style="width: 100%;" /></td></tr>
			<tr><td>CONTENTS			</td><td><input type="text" style="width: 100%;" /></td></tr>
			<tr><td>WEIGHT				</td><td><input type="text" style="width: 100%;" /></td></tr>
		</table>
	</div>
	<div class="pad-short"></div>
	<div class="window">
		<table style="width: 99%;">
			<tr><td>DEL.<br />ADDRESS	</td><td><input type="text" style="width: 100%;" /></td></tr>
		</table>
	</div>
	<div class="pad-short"></div>
	<!--<button ng-click="page.load('customer/deliveryVerification/deliveryVerification.html');">Set Pickup Now</button>-->
	<button class="button-base button-half dark">
		SPECIAL
		<br />
		INSTRUCTIONS
	</button>
	<div class="space-small"></div>
	<button ng-click="page.load('customer/deliveryVerification/deliveryVerification.html');" class="button-base button-half light">
		SET
		<br />
		DELIVERY
	</button>
</div>
