.slide-animate-container {
  position:relative;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.0s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.0s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  left:0;
}

.slide-animate.ng-enter {
  left:500px;
}

.slide-animate.ng-leave.ng-leave-active {
  left:-500px;
}

/*new directions must come after the core animate*/
.slide-back.ng-enter {
  left:-500px;
}

.slide-back.ng-leave.ng-leave-active {
  left:500px;
}