<div class="hidden">{{ page.theme = 'darker'; page.title = 'TERMS AND CONDITIONS'; }}</div>
<div ng-controller="AuthCtrl as auth" ng-init="auth.checkVersion(page.ver)">
	<div class="medium"></div>
	<h1>
		WELCOME
	</h1>
    <div class="medium"></div>
    <div ng-hide="page.agree">
        <button ng-click="page.tutorial()" class="tall widest dark">
            Learn to use the app
        </button>
        <div class="medium"></div>
        <button ng-click="page.conditions()" class="tall widest dark">
            Read our terms and conditions
        </button>
        <div class="medium"></div>
            <button ng-click="page.load('app/page/welcome.html');" class="tall widest light">
                I AM 18 OR OLDER AND UNDERSTAND AND AGREE TO THE TERMS
            </button>
</div>
	<div class="medium"></div>
	Version {{ page.ver }}
	<button class="wide dark" ng-show="auth.newer" ng-click="auth.upgrade()">
		{{auth.next}} available
	</button>
</div>