<div ng-controller="AuthCtrl as auth">
	<div class="hidden">{{ page.theme = 'darker'; }}</div>
	<div class="medium"></div>
	<h1>
		WELCOME
	</h1>
	<div class="medium"></div>
	<button ng-click="page.load('customer/1_requestDelivery/requestDelivery.html');" class="tall widest light">
		I WANT
		<br />
		SOMETHING
		<br />
		DELIVERED
	</button>
	<div class="medium"></div>
	<button ng-click="auth.oauth(page)" class="tall widest dark">
		I WANT TO
		<br />
		DELIVER FOR
		<br />
		FETCH 1
	</button>
	<div class="medium"></div>
	Version {{ page.ver }}
</div>